<div class="container">
  <section>
    <div class="row">
      <div class="col-xs-12">
        <form method="get">
          <div class="form-group">
            <label for="nombre">Nombre del Item</label>
            <input name="nombre" type="text" class="form-control" id="nombre" ng-model="item.nombre" >
          </div>
          <button type="button" ng-click="buscar()" class="btn btn-default">Buscar</button>
        </form>
      </div>
    </div>

  </section>

  <div class="row">
    <div class="col-xs-12">
      <br><br><br>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre del item</th>
              <th>Título de la review</th>
              <th>Calificación</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="review in listaReview">
              <td><a ng-href="#/Item/{{review.item.id}}">{{review.item.nombre}}</a></td>
              <td>{{review.comentario}}</td>
              <td>{{review.calificacion}}</td>
              <td>
                <a ng-href="#/Review/modificar/{{review.id}}"><span class="glyphicon glyphicon-pencil" title="Modificar Review"></span></a>
                <a ng-href="#/Review/eliminar/{{review.id}}"><span class="glyphicon glyphicon-remove" title="Eliminar Review"></span></a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


  </section>
</div>
